{% extends 'templates/_base.html' %}

{% block body %}

<style>
  section {
    margin: 48px 0;
  }
</style>

<div class="container">
  <section class="jumbotron">
    <h1>Hello, world!</h1>
    <p>It's <a href="https://github.com/reo7sp/reo-web-starter-kit">reo-web-starter-kit</a></p>
    <p><a class="btn btn-success" href="#" role="button">Sample button</a></p>
  </section>

  <section>
    <p>This kit includes:</p>
    <ul>
      <li><a href="http://coffeescript.org/">CoffeeScript</a></li>
      <li><a href="http://sass-lang.com/">Sass</a></li>
      <li><a href="http://mozilla.github.io/nunjucks/">Nunjucks</a></li>
    </ul>

    <p>And also:</p>
    <ul>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    </ul>
  </section>

  <section>
    <p>Gulp tasks:</p>
    <ul>
      <li><code>serve</code> opens site in browser and reloads it automatically on change</li>
      <li><code>serve:dist</code> same but with minification and optimization of built sources</li>
      <li><code>watch</code> builds site automatically on change</li>
      <li><code>clean</code> deletes built sources</li>
      <li><code>build:dist</code> builds site to dist folder</li>
      <li><code>deploy</code> deploy site to <a href="http://surge.sh/">Surge</a></li>
    </ul>
  </section>
</div>

{% endblock %}
